<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="LogEBilling.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd.log" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <add key="INTERFASE_ENTRADA" value="UI" />
    <!--Valores = UI, PORT_I-->
    <add key="PORT_I" value="COM1" />
    <!--Puerto de entrada si interfase_entrada="PORT_I"-->
    <add key="PORT_O" value="COM2" />
    <!--Puerto de salida a controladora de barrera-->
    <add key="ENVIAR_SALIDA" value="NO" />
    <!--Enviar senal de salida por PORT_O-->
    <add key="DEMORA_SENAL_SALIDA" value="500" />
    <!--Demora de la senal de salida en ms-->
    <add key="MOSTRAR_MONITOR_UI" value="NO" />
    <!--Mostrar pantalla de monitoreo. Dejar en NO-->
    <add key="GUARDAR_EN_LOG" value="SI" />
    <!--Guardar eventos del sistema en archivo de log-->
    <add key="ARCHIVO_LOG" value="Error_log.TXT" />
    <!--Nombre (y path) de archivo de logeo-->
    <add key="NRO_BARRERA" value="1" />
    <!--Nro de barrera controlada-->
    <add key="IMPRESORA_TICKETS" value="Ticket_Star" />
    <!--Nombre de la impresora Windows donde se expende ticket-->
    <add key="USUARIO_BARRERA" value="ADMIN" />
    <!--Usuario del sistema utilizado para registrar operaciones automaticas de la barrera-->
    <add key="SOAP_XML" value="C:\Migrate\InvoiCyConector\Entrada\soap.xml" />
    <add key="EMP_CODE" value="116" />
    <add key="EMP_CA" value="5OErsCCY4Ez/gBozYN5rdJShQhUDy" />
    <add key="EMP_PK" value="APpxzyJiLCq0sFjOY3Wh6w==" />
    <!--Directorio para guardar el soap.xml-->
    <add key="USUARIO_BARRERA" value="ADMIN" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="e_billing.Properties.Settings.ParkingConnectionString" connectionString="Data Source=DESKTOP-3ILLAPI\MSSQLserver01;Initial Catalog=Parking;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ParkingEntities" connectionString="metadata=res://*/ParkingDB.csdl|res://*/ParkingDB.ssdl|res://*/ParkingDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-3ILLAPI\MSSQLSERVER01;initial catalog=Parking;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ParkingEntities1" connectionString="metadata=res://*/ParkingDB.csdl|res://*/ParkingDB.ssdl|res://*/ParkingDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-3ILLAPI\MSSQLSERVER01;initial catalog=Parking;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ParkingEntities2" connectionString="metadata=res://*/ParkingDB.csdl|res://*/ParkingDB.ssdl|res://*/ParkingDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-3ILLAPI\MSSQLSERVER01;initial catalog=Parking;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="Model1" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=e_billing.Model1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>