<?xml version="1.0"?>
<configuration>
  
  <appSettings>
    <add key="INTERFASE_ENTRADA" value="UI"/> <!--Valores = UI, PORT_I-->
    <add key="PORT_I" value="COM1"/> <!--Puerto de entrada si interfase_entrada="PORT_I"-->
    <add key="PORT_O" value="COM2"/> <!--Puerto de salida a controladora de barrera-->
    <add key="ENVIAR_SALIDA" value="NO"/> <!--Enviar senal de salida por PORT_O-->
    <add key="DEMORA_SENAL_SALIDA" value="500"/> <!--Demora de la senal de salida en ms-->
    <add key="MOSTRAR_MONITOR_UI" value="NO"/> <!--Mostrar pantalla de monitoreo. Dejar en NO-->
    <add key="GUARDAR_EN_LOG" value="SI"/> <!--Guardar eventos del sistema en archivo de log-->
    <add key="ARCHIVO_LOG" value="PARKING_40_LOG.TXT"/> <!--Nombre (y path) de archivo de logeo-->
    <add key="NRO_BARRERA" value="1"/> <!--Nro de barrera controlada-->
    <add key="IMPRESORA_TICKETS" value="Ticket_Star"/> <!--Nombre de la impresora Windows donde se expende ticket-->
    <add key="USUARIO_BARRERA" value="ADMIN"/> <!--Usuario del sistema utilizado para registrar operaciones automaticas de la barrera-->
    <!--Reproduccion de sonidos exito-->
    <add key="BEEP_SOUND_SUCCES" value="C:\beeps\beep-succes.wav"/>
    <!--Reproduccion de sonidos exito-->
    <add key="BEEP_SOUND_CARD" value="C:\beeps\beep-tarjeta.wav"/>
    <!--Reproduccion de sonidos exito-->
    <add key="BEEP_SOUND_NOT_ALLOW" value="C:\beeps\beep-no_habilitado.wav"/>
    <!--Reproduccion de sonidos exito-->
    <add key="BEEP_SOUND_TIME_OUT" value="C:\beeps\beep-exedido.wav"/>
    <!--imagen ticket-->
    <add key="TICKET_IMAGE" value="C:\image\ticket_parking.jpg"/>
    <add key="TICKET_ROWS" value="C:\image\flecha.jpg"/>
    
  </appSettings>

  <connectionStrings>
    <remove name="PARKING"/>
    <add name="PARKING" connectionString="Server=DaroGimeVaio\LOCALHOST; Trusted_Connection=Yes;"/>
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  
</configuration>
